<Context>
    <Resource name="jdbc/jndiDataSource"
              auth="Container"
              type="javax.sql.DataSource"
              factory="org.postgresql.ds.PGSimpleDataSource"
              serverName="localhost"
              portNumber="5432"
              databaseName="laborator4"
              user="postgres"
              password="test123"
              maxTotal="20"
              maxIdle="10"
              maxWaitMillis="-1"/>
</Context>
